gateway/mainFlow.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1","disabled":false},{"id":"b2b49be5300e7399","type":"junction","z":"2c41a2bd.aa36ae","x":180,"y":240,"wires":[["f97a652c774a380a","3d6eb2cf271f2689"]]},{"id":"89b8bf5b34a3c1a7","type":"serial in","z":"2c41a2bd.aa36ae","name":"Serial In","serial":"3d20fd41757209c6","x":80,"y":280,"wires":[["de43a92690ef5aa2","3d6eb2cf271f2689"]]},{"id":"64156188b41a49f2","type":"serial out","z":"2c41a2bd.aa36ae","name":"Serial Out","serial":"3d20fd41757209c6","x":2220,"y":140,"wires":[]},{"id":"de43a92690ef5aa2","type":"debug","z":"2c41a2bd.aa36ae","name":"Serial In Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":340,"wires":[]},{"id":"d69d64b1482e413c","type":"http request","z":"2c41a2bd.aa36ae","name":"post Temp","method":"POST","ret":"txt","paytoqs":"ignore","url":"{{{remoteUrl}}}/measuring/sendData","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":1170,"y":240,"wires":[["cb839e42bd157e2b"]]},{"id":"7ef0c0c7012af7c2","type":"switch","z":"2c41a2bd.aa36ae","name":"","property":"payload.cause","propertyType":"msg","rules":[{"t":"eq","v":"configReq","vt":"str"},{"t":"eq","v":"sendTemp","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":746,"y":281,"wires":[["d36a61e27e81ecb4","6531e8ef156f9548"],["65e02b34305d1c6a","87aba3f2d2ea1945"]]},{"id":"2cd766876dcda136","type":"debug","z":"2c41a2bd.aa36ae","name":"TempOut Logging","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":200,"wires":[]},{"id":"fb8baa7ebc8a323c","type":"catch","z":"2c41a2bd.aa36ae","name":"","scope":null,"uncaught":true,"x":340,"y":40,"wires":[["7ea67a94a27b783a"]]},{"id":"7ea67a94a27b783a","type":"debug","z":"2c41a2bd.aa36ae","name":"Catch All Logging","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"fca312fa99869408","type":"http request","z":"2c41a2bd.aa36ae","name":"post rangeUpdate","method":"POST","ret":"txt","paytoqs":"ignore","url":"{{{remoteUrl}}}/sensor/updateConfig","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":2010,"y":80,"wires":[["f3401a7b6dce11e7"]]},{"id":"9b2ad14f736b4718","type":"debug","z":"2c41a2bd.aa36ae","name":"Post Range Update request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2040,"y":40,"wires":[]},{"id":"cb839e42bd157e2b","type":"debug","z":"2c41a2bd.aa36ae","name":"Post Temp Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":240,"wires":[]},{"id":"3d6eb2cf271f2689","type":"json","z":"2c41a2bd.aa36ae","name":"serial in json","property":"payload","action":"obj","pretty":false,"x":290,"y":280,"wires":[["31794fcbfe6a401b","acd40835d621a82a"]]},{"id":"31794fcbfe6a401b","type":"debug","z":"2c41a2bd.aa36ae","name":"Json Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":476,"y":341,"wires":[]},{"id":"a316f76c483205b0","type":"debug","z":"2c41a2bd.aa36ae","name":"timestamped Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":706,"y":341,"wires":[]},{"id":"acd40835d621a82a","type":"function","z":"2c41a2bd.aa36ae","name":"AddDtoInData","func":"msg.authData = {\n    sensorId: flow.get(\"sensorId\"),\n    measurementPointId: flow.get(\"measurementPointId\"),\n    jwtToken: flow.get(\"jwtToken\")\n};\nmsg.remoteUrl = flow.get(\"remoteUrl\");\nif (msg.payload.firstSend === 1)\n{\n    msg.lastTimestamp = Math.floor(+new Date() / 1000); \n    flow.set(\"lastTimestamp\", Math.floor(+new Date() / 1000));\n}\nelse \n{\n    msg.lastTimestamp = flow.get(\"lastTimestamp\");\n    if (msg.payload.firstSend === 0) {\n        flow.set(\"lastTimestamp\", Math.floor(+new Date() / 1000));\n    }\n}\nreturn msg;","outputs":1,"noerr":7,"initialize":"","finalize":"","libs":[],"x":486,"y":281,"wires":[["a316f76c483205b0","7ef0c0c7012af7c2"]]},{"id":"46bbebbb98790bd0","type":"function","z":"2c41a2bd.aa36ae","name":"conver to byte string","func":"msg.payload = 'Msg CfgUp PrmC 4 TmpHeat ' \n + msg.payload.temperatureLimits.heating \n + ' TmpCool ' \n + msg.payload.temperatureLimits.cooling \n + ' MeasDly ' \n + msg.payload.measureInterval\n +' SendDly ' \n + msg.payload.sendInterval;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":140,"wires":[["64156188b41a49f2","355bc5c25dcdcf7c"]]},{"id":"899925725949f8b8","type":"file in","z":"2c41a2bd.aa36ae","name":"read jwt token","filename":"C:\\Users\\User\\Desktop\\ard\\IoT\\gateway\\login.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":540,"wires":[["b1a02c696b43073e"]]},{"id":"41c225ace3f3d196","type":"function","z":"2c41a2bd.aa36ae","name":"on Start message","func":"\n","outputs":1,"noerr":1,"initialize":"// Code added here will be run once\n// whenever the node is started.\nnode.send({})","finalize":"","libs":[],"x":90,"y":500,"wires":[["048abacb019346e4","899925725949f8b8"]]},{"id":"048abacb019346e4","type":"file in","z":"2c41a2bd.aa36ae","name":"read config params","filename":"C:\\Users\\User\\Desktop\\ard\\IoT\\gateway\\config.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":310,"y":500,"wires":[["112072d05fc69c9f"]]},{"id":"112072d05fc69c9f","type":"json","z":"2c41a2bd.aa36ae","name":"","property":"payload","action":"","pretty":false,"x":470,"y":500,"wires":[["0d5c22023c2a2176"]]},{"id":"0d5c22023c2a2176","type":"function","z":"2c41a2bd.aa36ae","name":"save config to flow","func":"flow.set(\"sensorId\", msg.payload.sensorId);\nflow.set(\"measurementPointId\", msg.payload.measurementPointId);\nflow.set(\"remoteUrl\", msg.payload.remoteUrl);","outputs":1,"noerr":6,"initialize":"","finalize":"","libs":[],"x":630,"y":500,"wires":[[]]},{"id":"56d889ddab576fe2","type":"function","z":"2c41a2bd.aa36ae","name":"add jwt token","func":"flow.set(\"jwtToken\", msg.payload.jwtToken);\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":610,"y":540,"wires":[[]]},{"id":"d36a61e27e81ecb4","type":"debug","z":"2c41a2bd.aa36ae","name":"configRequest Logging","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":60,"wires":[]},{"id":"e8eec05867cee152","type":"http request","z":"2c41a2bd.aa36ae","name":"get configRequest","method":"POST","ret":"txt","paytoqs":"ignore","url":"{{{remoteUrl}}}/sensor/getConfig","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1230,"y":100,"wires":[["083abb7c85699001"]]},{"id":"b1a02c696b43073e","type":"json","z":"2c41a2bd.aa36ae","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":540,"wires":[["56d889ddab576fe2"]]},{"id":"65e02b34305d1c6a","type":"function","z":"2c41a2bd.aa36ae","name":"Assemble DtoIn","func":"const tmp = msg.payload;\nvar lastDataPointTime = msg.lastTimestamp;\nmsg.payload = {\n    ...msg.authData,\n    tempData: msg.payload.measurementData.map(dataPoint =>{\n        lastDataPointTime = lastDataPointTime + dataPoint.timeOffset\n        return {\n            timeStamp: lastDataPointTime,\n            temperature: dataPoint.temperature,\n            state: dataPoint.state\n        }\n    })\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":240,"wires":[["d69d64b1482e413c","2cd766876dcda136"]]},{"id":"43492e98bbc45a70","type":"function","z":"2c41a2bd.aa36ae","name":"Check Config Epoch","func":"const sendConfigUpdate = (msg?.configData?.timestamp ?? 0) > msg.payload.created;\nif (sendConfigUpdate)\n{\n    msg.action = \"sendUpdate\";\n    msg.payload = msg.authData;\n    msg.payload.config = configData;\n    delete msg.payload.config.timestamp\n}\nelse\n{\n    msg.action = \"updateConfig\";\n}\nreturn msg","outputs":1,"noerr":9,"initialize":"","finalize":"","libs":[],"x":1560,"y":100,"wires":[["87099beb2b81d297","16c0335f720829af"]]},{"id":"87099beb2b81d297","type":"switch","z":"2c41a2bd.aa36ae","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"sendUpdate","vt":"str"},{"t":"eq","v":"updateConfig","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1830,"y":100,"wires":[["fca312fa99869408","9b2ad14f736b4718"],["46bbebbb98790bd0","60ba890d9226f56b"]]},{"id":"083abb7c85699001","type":"json","z":"2c41a2bd.aa36ae","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":100,"wires":[["43492e98bbc45a70","a60186b9140b4be6"]]},{"id":"16c0335f720829af","type":"debug","z":"2c41a2bd.aa36ae","name":"processed config","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1770,"y":140,"wires":[]},{"id":"1e070e77e2640933","type":"inject","z":"2c41a2bd.aa36ae","name":"inject config 0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cause\": \"configReq\", \"timestamp\": 0, \"min\": 70.00, \"max\": 50.00, \"interval\": 1, \"sendInterval\": 4, \"firstSend\": 0}","payloadType":"str","x":90,"y":120,"wires":[["b2b49be5300e7399"]]},{"id":"f97a652c774a380a","type":"debug","z":"2c41a2bd.aa36ae","name":"inject","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"21b341ecf87de04b","type":"inject","z":"2c41a2bd.aa36ae","name":"inject config 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cause\": \"configReq\", \"timestamp\": 1, \"min\": 70.00, \"max\": 50.00, \"interval\": 60, \"sendInterval\": 60, \"firstSend\": 0}","payloadType":"str","x":90,"y":160,"wires":[["b2b49be5300e7399"]]},{"id":"1414be4e5325e997","type":"inject","z":"2c41a2bd.aa36ae","name":"inject send","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cause\":\"sendTemp\",\"measurementData\":[{\"timeOffset\":2,\"state\":1,\"temperature\":50.10},{\"timeOffset\":1,\"state\":2,\"temperature\":50.10},{\"timeOffset\":1,\"state\":2,\"temperature\":50.10},{\"timeOffset\":1,\"state\":3,\"temperature\":50.10}]}","payloadType":"str","x":80,"y":200,"wires":[["b2b49be5300e7399"]]},{"id":"6531e8ef156f9548","type":"function","z":"2c41a2bd.aa36ae","name":"Store Curent Config","func":"if(msg.payload.timestamp != 0)\n{\n    const configData = {\n        timestamp: msg.payload.timestamp + msg.lastTimestamp,\n        sendInterval: msg.payload.sendInterval,\n        measureInterval: msg.payload.interval,\n        temperatureLimits: {\n            cooling: msg.payload.min,\n            heating: msg.payload.max,\n        }\n    }\n    msg.configData = configData;\n}\n//ELSE\n//this indicates no update node side\nmsg.payload = msg.authData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":100,"wires":[["e8eec05867cee152","62b1c81494855880"]]},{"id":"a60186b9140b4be6","type":"debug","z":"2c41a2bd.aa36ae","name":"configResponse Logging","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":60,"wires":[]},{"id":"62b1c81494855880","type":"debug","z":"2c41a2bd.aa36ae","name":"configRequest Logging","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":60,"wires":[]},{"id":"60ba890d9226f56b","type":"debug","z":"2c41a2bd.aa36ae","name":"Update settings","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2000,"y":180,"wires":[]},{"id":"f3401a7b6dce11e7","type":"debug","z":"2c41a2bd.aa36ae","name":"Post Range Update Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2290,"y":80,"wires":[]},{"id":"1790ab0b49e4fe0c","type":"inject","z":"2c41a2bd.aa36ae","name":"inject config first","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cause\": \"configReq\", \"timestamp\": 0, \"min\": 70.00, \"max\": 50.00, \"interval\": 1, \"sendInterval\": 4, \"firstSend\": 1}","payloadType":"str","x":100,"y":80,"wires":[["b2b49be5300e7399"]]},{"id":"355bc5c25dcdcf7c","type":"debug","z":"2c41a2bd.aa36ae","name":"Serial Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2220,"y":180,"wires":[]},{"id":"87aba3f2d2ea1945","type":"debug","z":"2c41a2bd.aa36ae","name":"T","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"3d20fd41757209c6","type":"serial-port","name":"Arduino","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]